@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 👈 chặn không cho tràn ngang */
}

@layer base {
    html { font-family: theme('fontFamily.jakarta'); color: theme('colors.brand.900'); }
}

@layer components {
    .ty-display {@apply text-display font-serifbrand font-semibold;}
    .ty-h1 {@apply text-h1 font-serifbrand font-semibold;}
    .ty-h2 {@apply text-h2 font-serifbrand;}
    .ty-h3 {@apply text-h3 font-semibold;}
    .ty-body-lg {@apply text-body-lg;}
    .ty-body {@apply text-body;}
    .ty-body-sm {@apply text-body-sm text-gray-600;}
    .ty-caption {@apply text-caption text-gray-500;}

    .btn-primary {@apply bg-brand-900 text-white rounded-xl px-4 py-2 font-semibold hover:bg-violet-800;}
    .price {@apply text-h3 font-bold;}
    .card-title {@apply ty-h3 line-clamp-1;}
    .card-subtitle {@apply ty-body-sm line-clamp-2;}


}

